
@{
    Layout = null;
}

<div class="k-header nav-top">
    <div class="k-header nav-top nav-div nav-div-left nav-div-col">
        <img src="~/Content/logo.jpg" style="margin: 5px; width: 250px; height: 70px;">
    </div>
    <div class="k-header nav-top nav-div nav-div-right nav-div-col">
        <div>
            <div style="margin-top: 20px;">
                @CurrentUser.FullName
            </div>
            <div class="x-small-div">
                <span style="font-size:small;"><a href="/User" style="margin-top: 20px; margin-left: 20px;" class="k-link"> View Profile </a></span>
            </div>
        @if (CurrentUser.IsAdmin)
        {
            <div class="x-small-div">
                <span style="font-size:small;"><a href="/Admin" style="margin-top: 20px; margin-left: 20px;" class="k-link"> Admin Panel </a></span>
            </div>
        }
        </div>
    </div>
    <div class="k-header nav-top nav-div nav-div-mid">
        @using (Html.BeginForm("Index","Search"))
        {
            <input type="submit" value="Search" class="k-item search-button" />
            @Html.DropDownList("CategoriesSearch", null, htmlAttributes: new { @class = "k-item k-input dropdown-list "})
            @Html.TextBox("Name",null, htmlAttributes: new { @class = "k-input search-bar", @placeholder ="Search" })            
        }
    </div>
</div>
