aside {
    padding: 15px;
    padding-left: 0px;
}

body {
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-right: 17px;
}

header, body, footer {
    font-family: 'Open Sans', sans-serif;
}

table {
    border-collapse: collapse;
    width:100%;
}

tr{
    text-align:left;
}

th {
    background-color: #4c5356;
    color: white;
}

.bids-div {
    display: inline-block;
    clear:both;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    min-width: 280px;
}

/* Set padding to keep content from hitting the edges */
.body-grid {
    width: 85%;
    float: left;
    margin-top: 15px;
    margin-bottom: 5px;
    display: inline-block;
}

.center {
    margin: auto;
    width: 50%;
}

.clearfix {
  overflow: auto;
}

.comment-div {
    background-color: white;
    border: solid 1px whitesmoke;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px grey;
}

.comment-div-author {
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
}

.comment-div-time {
    margin-top: 5px;
    display: inline-block;
    margin-left: 10px;
}

.comment-div-text {
    display:block;
    margin-right: 5px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    border: solid 1px whitesmoke;
     
}

.datepicker {
    color: #4c5356;
}

.details-col-15 {
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 40px;
    margin-left: 35px;
    width: 200px;
    min-width: 200px;
}

.details-col-60 {
    margin-left: 20px;
    margin-top: 40px;
    width: 60%;
    min-width: 300px;
    vertical-align: top;
}

.details-height-80 {
    height: 100px;
    vertical-align: middle;
}

.details-col-100 {
    width: 100%;
}

.details-div {
    display: inline-block; 
    min-width: 300px;
}

.details-div-col-1{
    width:300px;
    float: left;
    margin-right: 10px;
}

.details-div-col-2{
    width:76%;
    float: left;

}

.details-div-col-3{
    min-height: 70px; 
    width: 43%; 
    padding: 1%; 
    margin-right:0px; 
    float: left;
}

.details-div-col-4{
    min-height: 70px; 
    width: 53%; 
    padding: 1%; 
    float: left;
}

.dl-horizontal dt {
    white-space: normal;
}

.dropdown-list, .option-list {
    width: 200px;
    border-radius: 3px;
}

.footer {
  padding: 1rem;
  text-align: center;
  float:left;
  clear:both;
  width: 100%;
}

.grid-link {
    color: black !important;
}

.k-grid-content {
    height:inherit !important; 
}

.km-content {
    background-color: #ffffff !important;
}

.nav-button {
    width: inherit !important;
    display: block !important;
    border-radius: 0px !important; 
}

.nav-div {
    display: inline-flex;
   
}

.nav-div-left {
    float: left;
    margin-top: 0px;
}

.nav-div-mid {
    overflow: auto;
    display: block;
}

.nav-div-right {
    float: right;
    margin-right: 0px;
}

.nav-div-col {
    width: 290px;
}

.nav-link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.nav-top {
    height: 80px; 
    align-content: stretch;
}

.picture-div {
    min-height:250px;
}

.search-bar {
    text-indent: 15px;
    height: 35px;
    margin-top: 20px;
    margin-right: 0px;
    max-width: 65%;
    min-width: 55%;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-right: 0px;
    display: block;
    float: right;
}

.search-button{
    height: 45px;
    margin-top: 20px;
    width:55px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display:block;
    float: right;
    margin-right:35px;
    text-indent: -3px;
}

.sidebar {
    width: 15%;
    min-width: 250px;
    display: inline-block;
    float: left;
    clear:both;
}

.small-div {
    display: inline-block;
    width: 200px;
}

.table-div {
    overflow-x:auto;
}

.table-row:hover {
    background-color: #10c4b2;
    cursor: pointer; 
}

.x-small-div {
    display: inline-block;
    width: 100px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/


#auctions_header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    border-bottom: 1px solid white;
    font-size: larger;
}

#bidsGrid .k-grid-header
{
   padding: 0 !important;
}

#bidsGrid .k-grid-content
{
   overflow-y: visible;
}

#CategoriesSearch {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
    text-indent: 5px;
    text-overflow: '';
    width: 8%;
    min-width: 70px;
    height: 45px;
    margin-top: 20px;
    padding-left: 0px;
    border-left: 0px;
    border-radius: 0px;
    display: block;
    float: right;
}

#CategoriesSearch:hover{
    color: #fff;
    border-color: #2eb3a6;
    background-color: #2eb3a6;
}

/*for IE10*/
#categorySearch::-ms-expand {
    display: none;
}

#Description {
    width: 280px !important;
    height: 80px !important;
    white-space: normal !important;
}

#productsGrid {
    height: inherit !important;
}

#profile-div {
    background-color: whitesmoke;
    border: solid 1px whitesmoke;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px grey;
}

#enterBid {
    margin-top:0px !important;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@media screen and (max-width: 450px) {
    .body {
        padding-left: 0px;
        padding-right: 0px;
    }
    .details-div-col-2{
        width: 90%;
        margin-left: 0px;
        margin-right: 0px;
        float: left;
    }
    
    .bids-div{
        margin-left: 0px;
        margin-right: 0px;
        width: 90%;
    }

    .sidebar {
        width: 300px;
    }
    #profile-div {
        min-width: 300px;    }

}

@media screen and (max-width: 1052px){
    .nav-div-mid {
        display: inline-flex;
        float: none;
        width: 300px;
        margin-right: 100px;
    }
    .search-bar {
        width:100px;
    }
    .nav-div-right {
        float: left;
    }
}

@media screen and (max-width: 1457px){
    details-div-col-2 {
        float:left;
    }
    .bids-div {
        width: 90%;
        margin-left: 0px;
        margin-right: 0px;
    }
}